body{
    background-color: rgb(172,133,83);
}
input{
    height:50px ;
    font-size: 20px;
    background-color: rgb(87,87,87);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    width: 150px;
    border:2px solid black;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 5px rgb(121,121,121);
}
#output{
    background-color: white;
    color: black;
    width: 90%;
    font-size: 15px;
    font-weight: bolder;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(121,121,121);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    display:none;
}
#clear{
   display: none;
   color:white;
   background-color: black;
   width: 100px;
   height: 40px;
   font-size: 20px;
}